version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:8.9.1
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: npm install  #install node.js package
      - run:
          name: Run tests
          command: npm test
  deploy:
    machine:
      enabled: true
    working_directory: ~/repo
    environment:
      HEROKU_APP: "tnkotsu-vishwasnm2-staging"
	  ignore: master  
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$71ab5865-2164-41b3-868c-bf48f1c8e7ec@git.heroku.com/$HEROKU_APP.git master

workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
